@import "~taro-ui/dist/style/components/modal.scss";
.integral-detail{
    font-size: 24px;
    .integral-header{
        background: #fff;
        .apoint-wrap {
            width: 100%;
            height: 277px;
            position: relative;
            background: #fff;
            .svg-wrap {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .icon-dicengtoumingdu {
                    font-size: 240px;
                    z-index: 1;
                    opacity: .2;
                }
                .icon-zhongjiancengtoumingdu {
                    z-index: 2;
                    line-height: 400px;
                    opacity: .16;
                }
                .icon-dingcengtoumingdu {
                    font-size: 120px;
                    line-height: 460px;
                    z-index: 3;
                    opacity: .16;
                }
            }
        }
        .header-point {
            text-align: center;width: 100%;
            font-size: 80px;
            color: #333;
            font-weight: 700;
            line-height: 95px;
            position: absolute;
            top: 70px;
            z-index: 10;
        }
        .integral-title {
            line-height: 105px; box-sizing: border-box;
            position: relative;
            padding-left: 44px;
            .text-icon {
                content: "";
                position: absolute;
                left: 30px;
                height: 30px;
                width: 4px;
                top: 50%;
                margin-top: -15px;
            }
        }
    } 
    .amount-record-wrap {
        padding-bottom: 140px;
        .ap-no-record {
            margin-top: 45px;
            text-align: center;
        }
        .amount-charge-fixed {
            position: fixed; box-sizing: border-box;
            bottom: 0;
            padding: 20px 15px;
            width: 100%;
            background: #fff;
            -webkit-box-shadow: 0 -1px 4px 0 rgba(0,0,0,.11);
            box-shadow: 0 -1px 4px 0 rgba(0,0,0,.11);
            .amount--btn.half {
                width: 100%;
            }
            .amount--btn {
                height: 96px;
                line-height: 96px;
                text-align: center;
                border: 1PX solid #f12e24;
                border-radius: 4px;
                margin: 0 15px;
            }
        }
        .logList_item{
            width: 100%;display:flex;justify-content:space-between;padding: 0 20px; box-sizing: border-box;
            height: 80px; line-height: 40px; margin-top: 16px;
            .log_type{
                flex:2;
                .log_typetxt{
                    width: 100%; float: left;
                }
                .log_time{
                    width: 100%; float: left;
                }
            }
            .changeInfo{
                text-align: right;flex:1;
                .change{
                    width: 100%; float: left;
                }
                .changeAfter{
                    width: 100%; float: left;
                }
            }
        }
        
    }
}
.amountModalCon{    
    .FastAmount{ 
        display: flex; flex-direction: row; justify-content: space-between;
        .text{
            border: solid 1PX #dddddd; padding: 16px 30px; border-radius: 4px;
        }
    }
    .customAmount{
        padding-top: 12px; width: 100%; display: inline-block;
        .text{
            line-height: 40px; width: 100%; float: left;
        }
        .input_box{
            width: 100%; float: left;
            .unit{
                float: left;
            }
            .input{
                float: left;
            }
        }
        
    }
}