.edit-addr-box {
    transform: translateZ(0);font-size: 24px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    font-size: 30px;
    .edit-addr-container {
        padding-left: 30px;
        margin-top: 16px;
        color: #666;
        background-color: #fff;
    }
    .m-row{
        padding: 0 30px 0 0;
        background: #fff;
        align-items: center;
        position: relative;
        display: flex;
        min-height:104px;
        font-size: 30px;
        &.m-row-line {
            border-bottom: 1PX solid #ededed;
        }
        &.m-row-between {
            -webkit-box-pack: justify;
            justify-content: space-between;
        }
        &.m-row-start {
            -webkit-box-pack: start;
            justify-content: flex-start;
        }
        .title {
            width:180px;
            color: #666;
            font-size: 30px;
            margin: 0 40px 0 0;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }
        .edit-addr-input,.picker_box {
            -webkit-box-flex: 1;
            flex: 1 1 0%;
            border: none;
            width: 100%;
            color: #222;
            font-size: 30px;
            height: 40px;
        }    
        .picker_box{
            .picker{
                min-width: 50px; height: 40px; font-size: 24px;
                .text{
                    margin-right: 10px;
                }
            }
        }    
    }
    .edit-addr-save {
        margin: 60px 30px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
    }
    .edit-addr-default-box {
        margin: 20px 0 0;
        padding: 0 0 0 30px;
        color: #333;
        background: #fff;
    }
    .edit-addr-default-icon{
        padding: 0 30px; 
        font-size: 36px;
        display: block;
    }
}
